# This workflow will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

# This workflow uses actions that are not certified by GitHub.
# They are provided by a third-party and are governed by
# separate terms of service, privacy policy, and support
# documentation.

name: Upload Python Package

on:
  release:
    types: [published]
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        image:
          - latest-cd
          - latest-preview
        engine:
          - old
          - new
        driver:
          - community
          - intersystems
    runs-on: ubuntu-latest
    services:
      iris:
        image: containers.intersystems.com/intersystems/iris-community:${{ matrix.image }}
        ports:
        - 1972:1972
        options: >-
          --name iris
          --health-cmd "/usr/irissys/dev/Cloud/ICM/waitReady.sh -m 1"
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.12'
    - name: Install requirements
      run: |
        pip install tox
    - name: Run Tests
      run: |
        docker exec iris iris session iris -U%SYS '##class(Security.Users).UnExpireUserPasswords("*")'
        tox -e py312-${{ matrix.engine }}-${{ matrix.driver }} -- --dburi iris://_SYSTEM:SYS@localhost:1972/USER
  deploy:
    needs: test
    if: github.event_name != 'pull_request'
    runs-on: ubuntu-latest
    permissions:
        id-token: write
        contents: write
    steps:
    - uses: actions/checkout@v4
    - run: git fetch --depth=1 origin +refs/tags/*:refs/tags/*
      if: github.event_name == 'push'
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version: '3.x'
    - name: Install dependencies
      id: set-version
      run: |
        VERSION=$(grep version setup.cfg | cut -d=  -f2 | tr -d '[:blank:]')
        [ $GITHUB_EVENT_NAME == 'push' ] && VERSION+=b && VERSION+=$(($(git tag -l "*$VERSION*" | cut -db -f2 | sort -n | tail -1)+1))
        [ $GITHUB_EVENT_NAME == 'release' ] && VERSION=${{ github.event.release.tag_name }} && VERSION=${VERSION/v/}
        echo VERSION = $VERSION
        sed -ie "s/version = .*/version = $VERSION/" setup.cfg
        python -m pip install --upgrade pip
        pip install build
        echo version=$VERSION >> $GITHUB_OUTPUT
        NAME="sqlalchemy_iris"-${VERSION}-py3-none-any
        echo name=$NAME >> $GITHUB_OUTPUT
    - name: Install requirements
      run: |
        pip install -U pip setuptools wheel \
                    -r requirements-dev.txt \
                    -r requirements-iris.txt \
                    -e .

    - name: Build Python package
      run: ./scripts/build-dist.sh
    - name: Publish package
      uses: pypa/gh-action-pypi-publish@release/v1
    - name: Create Beta Release
      id: create_release
      if: github.event_name == 'push'
      uses: softprops/action-gh-release@v2
      with:
        tag_name: v${{ steps.set-version.outputs.version }}
        prerelease: ${{ github.event_name != 'release' }}
        files: dist/${{ steps.set-version.outputs.name }}.whl
    - uses: actions/checkout@v4
      if: github.event_name == 'release'
      with:
        ref: main
    - name: Bump version
      if: github.event_name == 'release'
      run: |
        git config --global user.name 'ProjectBot'
        git config --global user.email 'bot@users.noreply.github.com'
        VERSION=${{ github.event.release.tag_name }} && VERSION=${VERSION/v/}
        VERSION=`echo $VERSION | awk -F. '/[0-9]+\./{$NF++;print}' OFS=.`
        sed -ie "s/version = .*/version = $VERSION/" setup.cfg
        git add setup.cfg
        git commit -m 'auto bump version with release'
        git push
